{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'images/backgrounds/page-title.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">Notice</a></li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
        <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- notice -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-unstyled">
          {% for notice in notices %}
          <li class="d-md-table mb-4 w-100 border-bottom hover-shadow">
            <div class="d-md-table-cell text-center p-4 bg-primary text-white mb-4 mb-md-0"><span class="h2 d-block">{{ notice.date|date:"d" }}</span>{{ notice.date|date:"b,Y" }}</div>
            <div class="d-md-table-cell px-4 vertical-align-middle mb-4 mb-md-0">
              <a href="{% url 'notice_single-page' %}" class="h4 mb-3 d-block">{{ notice.title }}</a>
              <p class="mb-0">{{ notice.description|truncatewords:30 }}</p>
            </div>
            <div class="d-md-table-cell text-right pr-0 pr-md-4"><a href="{% url 'notice_single-page' %}" class="btn btn-primary">read more</a></div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /notice -->

{% endblock content %}