{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'images/backgrounds/page-title.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#">Our Teacher</a></li>
          <li class="list-inline-item text-white h3 font-secondary nasted">John Doe</li>
        </ul>
        <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- teacher details -->
<section class="section">
  {% for teacher in teachers %}
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-5">
        <img class="img-fluid w-100" src="{{ teacher.image.url }}" alt="teacher">
      </div>
      <div class="col-md-6 mb-5">
        <h3>{{ teacher.name }}</h3>
        <h6 class="text-color">{{ teacher.job_title }} - {{ teacher.subject }}</h6>
        <p class="mb-5">{{ teacher.bio }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
<!-- /teacher details -->

{% endblock content %}